/.idea/
/.git/
/.venv/
/dist/
__pycache__/
.DS_Store

# Kaggle API creds
kaggle.json

/packages/*/data/
/packages/*/saved_models/
/packages/*/model_selection/
/packages/*/submissions/

/scripts/private_rc.sh
