/.idea/
/.git/
/.venv/
/dist/
__pycache__/
.DS_Store

# Kaggle API creds
kaggle.json

/packages/ml_soln/*/data/
/packages/ml_soln/*/saved_models/
/packages/ml_soln/*/model_selection/
/packages/ml_soln/*/predictions/

/scripts/private_rc.sh
